<html>
<script src="/static/jquery-1.8.3.min.js"></script>
<script>
		$(document).ready(function(){
		$("#username").change(function(){
		var username=$("#username").val();

		$.ajax({
			url:"{% url 'checkusername1' %}",
			data:{'username':username},
			success:function(data){
			if(data.valid!="exists")
			{
				alert("Enter a valid receiver name");
				$("#username").val('');
			 }
			}
			})
			 })
		   })
</script>

<body>
		<form method="post" action="{% url 'addblacklistAction' %}">
			{% csrf_token %}
		<table>
			<tr>
			<td>contact</td>
			<td><input type="text" name="username" id="username"></td>
			</tr>
			
			<tr>
			<td>name</td>
			<td><input type="text" name="name" id="username"></td>
			</tr>
			
			<tr>
			<td>remarks</td>
			<td><textarea name="remarks" rows="4" cols="20"></textarea></td>
			</tr>

			<tr>
			<td></td>
			<td><input type="submit" value="add"></td>
			</tr>
			
			
		</table>
		</form>
	</body>
{% if messages %}
	{% for msg in messages%}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}		
</html>