<html>
	<body>
		<form method="post" action="{% url 'hobbyfactorAction' %}">
			{% csrf_token %}
			<table>
				<tr>
				<td>hobby</td>
				<td>
				<select name="hobby">
				<option value="">--select--</option>
				{% for h in hobby %}
				<option value="{{h.id}}">{{h.hobbyname}}</option>
				{% endfor %}
				</select>
				</td>
				</tr>
				
				<tr>
				<td>factor</td>
				<td><input type="text" name="factor"></td>
				</tr>
				
				<tr>
				<td></td>
				<td><input type="submit" value="add"></td>
				</tr>
			</table>
		</form>
	</body>
{% if messages %}
	{% for msg in messages%}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
</html>