<html>
	<body>
		welcome
		<li><a href="{% url 'composemessage' %}">compose message</a></li>
		<li><a href="{% url 'sentmessage' %}">sent message</a></li>
		<li><a href="{% url 'viewmessage' %}">view message</a></li>
		<li><a href="{% url 'trash' %}">trash</a></li>
		<li><a href="{% url 'addcontact' %}">add contact</a></li>
		<li><a href="{% url 'addblacklist' %}">add blacklist</a></li>
		<li><a href="{% url 'viewaddedcontacts' %}">view added contacts</a></li>
		<li><a href="{% url 'viewblacklist' %}">view blacklist</a></li>
		<li><a href="{% url 'customerhobbyfactor' %}">customise hobby factor</a></li>
		<li><a href="{% url 'customeragefactor' %}">customise age factor</a></li>
		<li><a href="{% url 'customiseseasoncountryfactor' %}">customise season country factor</a></li>
		<li><a href="{% url 'viewspam' %}">view spam</a></li>
		
		
		
	</body>
</html>